
@{
    ViewBag.Title = "Error 404";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mt-4">
                            <img class="mb-4 img-error" src="~/Estilos/img/error-404-monochrome.svg" />
                            <p class="lead">El URL solicitado no fue encontrado en el servidor.</p>
                            <a href="@Url.Action("Inicio", "Inicio")">
                                <i class="fas fa-arrow-left me-1"></i>
                                Volver al inicio
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

